[submodule ".registry"]
	path = .registry
	url = https://github.com/simpleitk/simpleitk.r-universe.dev
	branch = HEAD
[submodule "SimpleITK.foyer"]
	path = SimpleITK.foyer
	url = https://github.com/SimpleITK/SimpleITKRInstaller
	subdir = SimpleITK_Foyer
